<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Producto
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Id" formControlName="id" matInput type="text" name="" id="">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Title" formControlName="title" matInput type="text" name="" id="">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Price" formControlName="price" matInput type="number" name="" id="">
                    </mat-form-field>
                    <mat-error *ngIf="form.get('price')!.errors && form.get('price')!.dirty">
                        <p *ngIf="form.get('price')!.hasError('price_invalid')">this is invalid</p>
                        <p *ngIf="form.get('price')!.hasError('required')">this is invalid</p>
                    </mat-error>

                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea formControlName="description" matInput placeholder="Description"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Save</button>
        </mat-card-actions>
    </mat-card>
</form>
